<div class="bc-keypad">

  <div
    class="bc-keypad__key"
    data-ng-repeat="number in ::vm.numbers track by number.number"
  >
    <button
      class="bc-keypad__key-button"
      data-ng-click="vm.setNumber(number.number)"
      angular-ripple
      aria-role="{{ ::number.number }}"
    >
      {{ ::number.number }}
    </button>
    <sup>{{ ::number.superscript}}</sup>
  </div>


  <div class="bc-keypad__key  bc-keypad__key--left"
       ng-class="::{'bc-keypad--noCenter': !vm.lastNumber, 'bc-keypad--noRight': !vm.bcRightButton}"
       ng-if="::vm.bcLeftButton">
    <ng-include src="vm.keyTemplate(vm.bcLeftButton, 'Left')"></ng-include>
  </div>


  <div class="bc-keypad__key  bc-keypad__key--center"
       ng-if="::vm.lastNumber">
    <button
      class="bc-keypad__key-button"
      data-ng-click="vm.setNumber(vm.lastNumber.number)"
      angular-ripple
    >
      {{ ::vm.lastNumber.number }}
    </button>
    <sup>{{ ::number.superscript}}</sup>
  </div>


  <div class="bc-keypad__key  bc-keypad__key--right"
       ng-class="::{'bc-keypad--noLeft': !vm.bcLeftButton, 'bc-keypad--noCenter': !vm.lastNumber}"
       ng-if="::vm.bcRightButton">
    <ng-include src="vm.keyTemplate(vm.bcRightButton, 'Right')"></ng-include>
  </div>

</div>

